@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #FAFAFA;
}


h2, p {
    color: #495761;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #495761;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 30px;

}
.headline{
    text-align: center;
    margin: 10px;
    padding: 5px;
    letter-spacing: 2px;
}

.headline h1{
    font-size: 4em;
}

.salmonImage {
    background-image: url(images/Groatay1-1.png);
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.salmonImage h1{
    color: white;
    font-size: 1.4em;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}
.downArrow{
    padding-top: 100px;

}
@keyframes jump {
  0%   {transform: translate3d(0,0,0);}
  40%  {transform: translate3d(0,50%,0) ;}
  100% {transform: translate3d(0,0,0) ;}
}
.jump {
  transform-origin: 20% 20%;
  animation: jump 2s linear alternate infinite;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 600px;
    height: 50vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about p {
    text-align: justify;
}

.conclusion{
    width: 600px;
    padding-bottom: 100px;
}
.conclusion h2{
    font-size: 2em;
    padding-bottom: 20px;
}
.conclusion p{
     text-align: justify;
}
.description{
    margin-top: 100px;
      width: 600px;
}
.description h2{
    font-size: 2em;
    padding-bottom: 20px;
}
.description p{
    text-align: justify;
}
.signup{
      width: 600px;
    margin-bottom: 100px;
}
.signup h2{
    font-size: 2em;
    padding-bottom: 20px;
}


.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 1000px;
    margin-bottom: 95px;
}
.content p{
    text-align: justify;
}

.diagram{
    padding: 30px;
    height: 400px;
    float: right;
}

.Logo {
    text-align: center;
    padding-bottom: 20px;
    width: 150px;
    margin: 0 auto;
}



.facebook,
.instagram {
    height: 70px;
    width: auto;
    border: 2px solid black;
}

main{
    background-image: url(images/timeline.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 100px;

}

footer{
    background-color: #EFEFEF;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.SoMe{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.why::before {
    content: url(images/point.png);
    position: absolute;
    vertical-align: middle;
    margin: 0 -30px;
    display: inline-block;

}
.diet, .effects{
    text-align: right;
}
.diet::after{
    content: url(images/point-2.png);
    position: absolute;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

.coloring::before {
    content: url(images/point-3.png);
    position: absolute;
    vertical-align: middle;
    margin: 0 -30px;
    display: inline-block;
}

.effects::after{
    content: url(images/point-4.png);
    position: absolute;
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
}

.wild::before {
    content: url(images/point-5.png);
    position: absolute;
    vertical-align: middle;
    margin: 0 -30px;
    display: inline-block;
}
input[type=text]{
    width: 250px;
    height: 40px;
    padding: 0 10px;
    border: solid #979797;
    border-width: 1px;
    border-radius: 3px;
    background-color: #d8d8d8;
    opacity: .5;
    margin: 10px;
}
input[type=Email]{
    width: 370px;
    height: 40px;
    padding: 0 10px;
    border: solid #979797;
    border-width: 1px;
    border-radius: 3px;
    background-color: #d8d8d8;
    opacity: .5;
    margin: 10px;
}

button{
    width: 150px;
    height: 42px;
    padding: 0 10px;
    border: none;
    background-color: #F14943;
    color: white;
    box-shadow:  10px 10px 42px 0px rgba(241,73,67,0.25);
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}


