@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    background-color: #FAFAFA;
}


h2, p, label {
    color: #495761;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #495761;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 30px;

}
.headline{
    text-align: center;
    letter-spacing: 2px;
    font-size: 4em;
}
.video{
    box-shadow: 10px 10px 42px 0px #00000025;


}

.salmonImage {
    background-image: url(images/Groatay1-1.png);
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.salmonImage h1{
    color: white;
    font-size: 2em;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1em;

}
.downArrow{
    padding-top: 80px;

}
@keyframes jump {
  0%   {transform: translate3d(0,0,0);}
  40%  {transform: translate3d(0,50%,0) ;}
  100% {transform: translate3d(0,0,0) ;}
}
.jump {
  transform-origin: 20% 20%;
  animation: jump 2s linear alternate infinite;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    margin: 3em;
    width: 600px;
    height: 50vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about p {
    text-align: justify;
}

.conclusion{
    margin: 0 3em;
    width: 600px;
    padding-bottom: 100px;
}
.conclusion h2{
    font-size: 2em;
    padding-bottom: 20px;
}
.conclusion p{
     text-align: justify;
}
.description{
    margin: 0 3em;
    margin-top: 100px;
      width: 600px;
}
.description h2{
    font-size: 2em;
    padding-bottom: 20px;
}
.description p{
    text-align: justify;
}
header .signup{
    margin-bottom: 0;
}
header .signup h2, header label{
  color: white;
    font-size: 1em;
    text-align: center;
    padding-bottom: 0em;

}
.signup{
    width: 600px;
    margin-bottom: 100px;
}


.signup h2{
    font-size: 2em;
    padding-bottom: 20px;
}


.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    width: 1000px;
    margin-bottom: 95px;
}
.content p{
    text-align: justify;
}


.Logo {
    text-align: center;
    padding-bottom: 20px;
    width: 150px;
    margin: 0 auto;
}


.facebook,
.instagram {
    height: 70px;
    width: auto;
    border: 2px solid black;
}

main{
    background-image: url(images/timeline.png);
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 100px;
}

footer{
    background-color: #EFEFEF;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.SoMe{
    height: 30px;
    width: 30px;
    margin: 10px;
}

.why::before {
    content: url(images/point-1.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 -29px;
    display: inline-block;
}
.top{
    margin-top: -10px;
}
.bottom{
    padding-top: 20px;
}

.diet, .effects{
    text-align: right;
}
.diet::after{
    content: url(images/point-2.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 11px;
    display: inline-block;
}

.diet::before{
    content: url(images/point-2.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 -29px;
    display: none;
}

.coloring::before {
    content: url(images/point-3.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 -29px;
    display: inline-block;
}

.effects::after{
    content: url(images/point-4.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 11px;
    display: inline-block;
}

.effects::before{
    content: url(images/point-4.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 -29px;
    display: none;
}

.wild::before {
    content: url(images/point-5.svg);
    position: absolute;
    vertical-align: middle;
    margin: 0 -29px;
    display: inline-block;
}
input[type=text]{
    width: 250px;
    height: 40px;
    padding: 0 10px;
    border: solid #cccccc80;
    border-width: 1px;
    border-radius: 3px;
    background-color: #efefef;
    margin: 10px;
}
input[type=Email]{
    width: 370px;
    height: 40px;
    padding: 0 10px;
    border: solid #cccccc80;
    border-width: 1px;
    border-radius: 3px;
    background-color: #efefef;
    margin: 10px;
}

button{
    width: 150px;
    height: 42px;
    padding: 0 10px;
    border: none;
    background-color: #F14943;
    color: white;
    box-shadow:  10px 10px 42px 0px rgba(241,73,67,0.25);
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}

.timeline{
    display: none;
}


input[type=checkbox]{

  margin: 0 10px;

}

@media only screen and (max-width: 1000px) {
    .content{
        display: block;
        margin: 3em;
    }
    .diet::after, .effects::after{
        display: none;
    }

     .diet::before, .effects::before{
        display: inline-block;
    }
    .diet, .effects{
        text-align: left;
    }
    .timeline{
        display: block;
        position: absolute;

        top: 205vh;
        left: 1.6em;
    }
    .timeline img{
        height: 2150px;
        width: 5px;
    }
.signup{
    width: 300px;}

    input[type=Email]{
        width: 250px;
    }
    .salmonImage h1{
        font-size: 20px;
        padding-top: 20px;
        display: none;
    }

    .headline{
        padding-bottom: 0;
    }

    main{
    z-index: 999;
    background-image: none;
    background-position: top left;
    margin-left: 0px;
}

}

