@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}


h2, p {
    color: #495761;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #495761;
    font-family: 'Quicksand', sans-serif;
}
.headline{
    padding: 20px;
    letter-spacing: 2px;
}


.salmonImage {
    background-image: url(images/Groatay1-1.png);
    height: 50vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.salmonImage h1{
    color: white;
    font-size: 1.4em;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
}
.downArrow{
    padding-top: 50px;
}
@keyframes jump {
  0%   {transform: translate3d(0,0,0);}
  40%  {transform: translate3d(0,50%,0) ;}
  100% {transform: translate3d(0,0,0) ;}
}
.jump {
  transform-origin: 20% 20%;
  animation: jump 2s linear alternate infinite;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    width: 500px;
    height: 50vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about p {
    text-align: justify;
}

.description{
      width: 500px;
    text-align: justify;
}
.description2{
    margin:  20px;

      width: 500px;
    text-align: justify;
}

.Logo {
    text-align: center;
    padding-bottom: 20px;
    width: 150px;
    margin: 0 auto;
}

section {
    padding: 50px 0;

}

.facebook,
.instagram {
    height: 70px;
    width: auto;
    border: 2px solid black;
}

.box1 {
    margin: 3em;
    padding: 3em;
}

.colorbox1 {
    right: 0;
    width: 30px;
    position: absolute;
    height: 100%;
    margin: 20px;
    background-image: linear-gradient(#F5AC95, #E81B0D)
}

.colorbox2 {
    float: right;
    width: 50px;
    height: 800px;
    margin: 10px;
    background-image: linear-gradient(#F5AC95, #E81B0D)
}
